<nav>
        <ul>
                <li>
                        <a href="/">
                                    Rumah
                        </a>
                </li>
                        <a href="/tentang/25117052">
                            Tentang Aquuu +
                        </a>
                </li>
        </ul>
</nav>