<nav>
    <ul>
        <li>
            <a href="/">
                    Home
            </a>
        </li>
        <li>
            <a href="tentang/profile">
                    Profile
            </a>
        </li>
        <li>
            <a href="tentang/gallery">
                    Gallery
            </a>
        </li>
    <ul>
</nav>